!!! Strict
%html{:xmlns =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= "#{"#{@title} // " if !@title.nil? } iamneato.com"
    %link{:href => '/reset.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/styles.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/styles/jquery.fancybox.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{:rel => 'alternate', :href => '/articles.atom', :title => 'IAmNeato.com - Emilio Cavazos', :type => 'application/atom+xml'}
    %script{:src => '/javascripts/code_highlighter.js', :type => "text/javascript"}

  %body
    #header
      #header-wrapper
        #header-img
          I am neato, you are neato, we are neato, ummmm ...
        #menu-wrapper= haml :_menu, :layout => false
    #main
      = yield
    #footer= haml :_footer, :layout => false
    %script{:type => 'text/javascript'}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      
    %script{:type => 'text/javascript'}
      try {
      var pageTracker = _gat._getTracker("UA-9899745-1");
      pageTracker._trackPageview();
      } catch(err) {}
